version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./src/app/repository/db:/app/src/app/repository/db
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped